@charset 'utf-8';
@import 'mixin.scss';

#header {
	background-color: black;

	header {
		width: 94%;
		height: 100px;
		margin: 0 auto;
		position: fixed;
		top: 30px;
		left: 3%;
		border: 1px solid #333;
		backdrop-filter: blur(5px);
		z-index: 100000;

		@include center-sb;

		@media (max-width: 800px) {
			left: 0;
			width: 100%;
			padding: 0 10px;
			top: 5px;
		}

		.logo_box {
			width: 100px;
			height: 100px;
			position: relative;

			.logo {
				width: 100%;
				height: 100%;
				border-radius: 50%;
				background-image: url("@/assets/images/logo.png");
				background-color: #fff;
				background-repeat: no-repeat;
				background-size: 145%;
				background-position: center;

				@include position-center;
			}

			&:hover {

				.logo {
					background-image: url("@/assets/images/hover_logo.png");
				}
			}
		}

		nav {
			@media (max-width: 800px) {
				display: none;
			}

			ul {
				width: 600px;
				margin-right: 50px;
				@include center-sb;

				li {
					position: relative;

					a {
						color: #fff;
						text-transform: uppercase;
						
						&::after {
							content: "";
							width: 0;
							height: 2px;
							margin-top: 1px;
							display: block;
							background-color: #fff;
							transition: width .5s;
						}

						&:hover {

							&::after {
								width: 100%;
							}
						}
					}

					span {
						color: #bdbdbd;
						font-size: 0.9rem;
						position: absolute;
						top: -15px;
					}
				}
			}
		}

		.header_mobile_nav {
			display: none;

			@media (max-width:800px) {
				display: block;
				cursor: pointer;

				span {
					display: block;
					width: 40px;
					height: 2px;
					background-color: #fff;
					margin-top: 20px;
					position: relative;
					top: -11px;
					left: -10px;

					&::after {
						content: '';
						width: 40px;
						height: 2px;
						background-color: #fff;
						position: absolute;
						top: 6px;
						left: 0;
						transition: width .3s;
					}

					&::before {
						content: '';
						width: 40px;
						height: 2px;
						background-color: #fff;
						position: absolute;
						bottom: 6px;
						right: 0;
						transition: width .3s;
					}
				}

				&.show {
					span {
						&::after {
							width: 20px;
						}

						&::before {
							width: 20px;
						}
					}
				}
			}
		}

		.header_moblie {
			display: none;

			@media (max-width: 800px) {
				&.show {
					display: block;
					width: 100%;
					height: calc(100vh - 100px);
					position: absolute;
					top: 100px;
					left: 0;
					background-color: #313030;

					ul {
						width: 100%;
						height: 100%;

						@include c-center;

						flex-direction: column;

						.mobil_menu {
							position: relative;
							transform: translate(-120%, 0);
							background-color: #ccc;
							width: calc(100% - 100px);
							height: 60px;
							display: flex;
							align-items: center;
							justify-content: center;
							margin-bottom: 10px;
							border-radius: 50px;

							a {
								color: #fff;
								font-size: 2.5rem;
								font-weight: 800;
								line-height: 1.8;
								font-family: "Poppins", sans-serif;

								&:hover {
									text-decoration: underline;
									opacity: .7;
								}

								i {
									color: #fff;
								}
							}

							&:last-child {

								a {
									font-size: 2rem;

									&:not(:last-child) {
										margin-right: 25px;
									}
								}

							}
						}
					}
				}
			}
		}
	}

	aside {
		width: 100px;
		height: 600px;
		position: fixed;
		top: 131px;
		left: 3%;
		border-left: 1px solid #333;
		border-right: 1px solid #333;
		border-bottom: 1px solid #333;
		backdrop-filter: blur(5px);
		display: flex;
		justify-content: center;
		align-items: flex-end;
		z-index: 10000;

		.icon_box {
			height: 300px;

			@include c-center-se;

			div {
				position: relative;

				i {
					font-size: 30px;
					color: #fff;
				}

				.icon_sub {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					width: max-content;
					font-size: 12px;
					left: 50px;
					padding: 9px 14px;
					background-color: rgba(122, 120, 120, .7);
					border-radius: 5px;
					transition: opacity 0.5s;
					opacity: 0;

					
					&::after {
						content: "";
						position: absolute;
						left: -14px;
						top: 50%;
						transform: translateY(-50%);
						border-top: 7px solid transparent;
						border-right: 7px solid rgba(122, 120, 120, .7);
						border-bottom: 7px solid transparent;
						border-left: 7px solid transparent;
					}

				}
				
				&:hover {
					.icon_sub {
						opacity: 1;
					}
				}
			}

		}

		@media (max-width: 800px) {
			display: none;
		}
	}
}