@mixin center() {
	display: flex;
	align-items: center;
	justify-content: center;

}

@mixin center-sb() {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@mixin center-se() {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

@mixin c-center() {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin c-center-sb() {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
}

@mixin c-center-se() {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
}

@mixin position-center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

@mixin title-text {
	text-transform: uppercase;
	font-size: 5vw;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
}